<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.dvkr.screenstream"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ScreenStreamApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fdc0202c5726f3a7f8da8d257fd86099b6effc38" />

        <activity
            android:name=".ui.StartActivity"
            android:launchMode="singleTask"
            android:theme="@style/StartActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.StartActivity" />
        <activity
            android:name=".ui.ClientsActivity"
            android:hardwareAccelerated="true"
            android:label="@string/clients_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.StartActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.StartActivity" />

        <service
            android:name=".service.FgService"
            android:exported="false" />

        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>